body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #020617;
    color: white;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #020617;
}

nav a {
    margin: 0 15px;
    color: #00eaff;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}

/* ICONS */
.top-icons a {
    margin-left: 15px;
    font-size: 20px;
    color: #00eaff;
    transition: 0.3s;
}

.top-icons a:hover {
    transform: scale(1.2);
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 20%;
    border: 3px solid #00eaff;
}

/* TEXT */
h1 {
    color: #00eaff;
}

.subtitle {
    color: #ccc;
}

/* BUTTONS */
.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 25px;
    background: #00eaff;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
}

.outline {
    background: transparent;
    border: 1px solid #00eaff;
    color: #00eaff;
}

/* CARD */
.card {
    max-width: 900px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    background: rgba(255,255,255,0.05);
}

/* PROJECTS */
.projects-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.project-card {
    background: rgba(255,255,255,0.05);
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.project-card h3 {
    color: #00eaff;
}

.project-card p {
    color: #ccc;
    font-size: 14px;
}

.project-card:hover {
    transform: translateY(-10px);
}

/* GITHUB BUTTON */
.github-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    border: 1px solid #00eaff;
    color: #00eaff;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.github-btn:hover {
    background: #00eaff;
    color: black;
}

/* FORM */
input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #06142e;
    color: white;
}

button {
    padding: 12px;
    background: #00eaff;
    border: none;
    border-radius: 8px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}

.footer-icons a {
    margin: 10px;
    color: #00eaff;
}
